body {
   font-family: "Roboto", sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav, a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;

    gap: 3rem;

    padding: 6rem 0;
}

.hero_text {
    flex: 1;
}

button:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(3, 6, 172);
    cursor: pointer;
}

.button_one {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
}

.button_two {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #F9FAF8;
    border-radius: 0.4rem;
}

.hero_img {
    flex: 1;
}

.hero_img img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

main {
    background-color: #ffffff;
}

aside {
    background-color: #E5E7EB;
}

aside p {
    color: #1f2937;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1.3;
}

aside h4 {
    max-width: 800px;
    margin: 1rem auto 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

#title_mates {
    text-align: center;
}

.contenedor_mates {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.mate {
    width: 150px;            /* ancho de cada bloque */
    text-align: center;      /* centra texto e imagen */
}

.mate img {
    width: 100px;
    height: auto;
}

.llamado_accion {
    display: flex;                  /* Texto y botón en una fila */
    justify-content: space-between; /* Los separa */
    align-items: center;            /* Centra verticalmente */

    max-width: 1000px;              /* Limita el ancho */
    margin: 6rem auto;              /* Centra la sección */

    padding: 3rem 6rem;             /* Espaciado interno */

    background-color: #3882F6;      /* Azul característico */
    border-radius: 0.5rem;          /* Bordes redondeados */
}

.texto_accion h3 {
    color: #F9FAF8;

    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: 0.3rem;
}

.texto_accion p {
    color: #E5E7EB;

    font-size: 1rem;
}

footer {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 1.5rem 0;
    text-align: center;
}